.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* App.css */
.admin-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
}

.containerr{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.logo img {
  float: left;
  /* height: 150px; */
  width: 20%;
}
.containers{
  max-width: 2000px!important;
  display: flex;
  flex: 1 1;
}
.logo h1 {
  font-family: 'Noto Serif', serif;
}
.logo .heading {
  float: left;
}
.download {
  margin-top: 20px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, h1 {
  font-size: 36px;
} 
.btn-download {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: white;
  margin-top: 5px;
}
.result {
  height: 260px;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.result p {
  font-size: 20px;
}
.download_banner {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.img-responsive{
  background-color: #fff;
}
.download_banner p {
  font-size: 20px;
  text-align: center;
}
.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.form-group {
  margin-bottom: 15px;
}
.footer {
  padding: 20px;
  background-color: #2C5364;
  color: white;
  margin-bottom: 10px;
}

.btn-block {
  display: block;
  width: 100%;
}
.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 480px) {
  .logo img {
    /* float: left; */
    height: 119px;
    width: 34%;
}
.logo{
  display: flex;
}
.download_banner p {
  font-size: 14px;
  text-align: center;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
